/* ManageUser.css */

.manage-users {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .manage-users h1 {
    text-align: left;
    color: #3498db;
    margin-bottom: 20px;
  }
  
  .manage-users .error {
    color: red;
    text-align: center;
  }
  
  .manage-users table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .manage-users table th,
  .manage-users table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .manage-users table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* .manage-users table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  .manage-users table tbody tr:hover {
    background-color: #e6f7ff;
  }
  